html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
    margin: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.txt-deco {
    text-decoration: none;
}

.container {
    width: 100%;
}

@media screen and (min-width: 425px) {
    .container {
        max-width: 425px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50%;
    z-index: 9999;
}

.header-box {
    width: 100%;
    height: 52px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    
    @media screen and (min-width: 1024px) {
            height: 106px;
        }
}

.header-logo-link {
    margin-left: 20px;
    margin-right: auto;
}

.header-logo {
    width: 123px;
    height: 52px;

    @media screen and (min-width: 1024px) {
            width: 198px;
            height: 106px;
        }
}

.page-header-btn {
    margin-right: 25px;
    padding: 0;
    border: 0;
    background-color: #FFFFFF;

    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.page-header-btn .header-close-menu {
    display: none;
}

.page-header-btn.is-open .header-close-menu {
    display: block;
}

.page-header-btn.is-open .header-menu {
    display: none;
}

.page-header-btn svg {
    pointer-events: none;
}

.menu-container {
    @media screen and (min-width: 1024px) {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 30px;
        height: 106px;
        width: 600px;
    }

    @media screen and (min-width: 1440px) {
        padding-right: 50px;
        width: 1150px;
    }

    @media screen and (max-width: 1023px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 999;
        background-color: #FFFFFF;
        padding-top: 30px;
        padding-left: 60px;
    }

}

.menu-container.is-open {
    display: flex;
}

.menu-list {
    @media screen and (min-width: 1024px) {
        display: flex;
    }
}

.menu-list-item {
    @media screen and (max-width: 1023px) {
        margin-bottom: 37px;
    }

    @media screen and (min-width: 1024px) {
        margin-left: 40px;
    }

    @media screen and (min-width: 1440px) {
        margin-left: 70px;
    }
}

.menu-list-link {
    @media screen and (max-width: 1023px) {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 18px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: #787878;
    }

    @media screen and (min-width: 1024px) {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: #000000;

    }

    @media screen and (min-width: 1440px) {
        font-size: 22px;
    }
}

.hero-section {
    background-image: linear-gradient(to bottom, rgba(114, 108, 108, 0), rgba(255, 255, 255, 0.19), rgba(184, 184, 184, 1)), url(../images/hero_img-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-top: 52px;

    @media screen and (min-width: 768px) {
            background-image: linear-gradient(to right, rgba(114, 108, 108, 0), rgba(255, 255, 255, 0.19), rgba(255, 255, 255, 1), rgba(184, 184, 184, 1)), url(../images/hero_img-pc.png);
        }

    @media screen and (min-width: 1024px) {
            margin-top: 106px;
        }
}

.hero-content {
    width: 100%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;

    @media screen and (min-width: 400px) {
            padding-top: 35px;
        }

    @media screen and (min-width: 768px) {
            height: 600px;
        }
    
        @media screen and (min-width: 1440px) {
            height: 900px;
            padding-top: 80px;
        }
}

.hero-title {
    width: 280px;
    height: 67px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
            width: 480px;
            height: 100px;
            margin-left: 50px;
        }

        @media screen and (min-width: 1440px) {
            width: 686px;
            height: 143px;
            margin-left: 100px;
        }
}

.hero-tumb {
    display: flex;
    flex-direction: column;
}

.hero-btn-box {
    @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            padding-top: 115px;
            margin-bottom: 20px;
        }
    
    @media screen and (min-width: 400px) {
            padding-top: 130px;
        }

        @media screen and (min-width: 768px) {
            display: flex;
            order: 2;
            padding-top: 0;
            margin-left: auto;
            margin-right: 100px;
        }

        @media screen and (min-width: 1440px) {
            margin-right: 130px;
        }
}

.hero-btn-manual-link {
    margin-right: 12px;
    margin-left: auto;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 0;
        }

}

.hero-btn-manual {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 17.09px;
    color: black;
    width: 120px;
    height: 50px;
    border: 0.45px solid #D22827;
    background-color: #fff;
    border-radius: 21.24px;

    @media screen and (min-width: 1440px) {
        width: 191px;
        height: 66px;
        font-size: 22px;
    }
}

.hero-btn-buy-link {
    margin-right: 12px;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        margin-right: 0;
        margin-left: 10px;
    }

    @media screen and (min-width: 1440px) {
        margin-left: 30px;
    }
}

.hero-btn-buy {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 17.09px;
    color: #fff;
    width: 120px;
    height: 50px;
    border: none;
    background-color: #D22827;
    border-radius: 21.24px;
    

    @media screen and (min-width: 1440px) {
            width: 191px;
            height: 66px;
            font-size: 22px;
        }
}

.hero-img-tablet {
    width: 256px;
    height: 187px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
            display: none;
        }
}

.hero-img-tablet-pc {
    display: none;

    @media screen and (min-width: 768px) {
            display: block;
            width: 330px;
            height: 314px;
            order: 1;
            margin-right: 50px;
            margin-left: auto;
            margin-bottom: 30px;
        }
    
        @media screen and (min-width: 1440px) {
            width: 500px;
            height: 470px;
            margin-bottom: 50px;
        }

}

.advantages-section {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 1440px) {
            padding-top: 100px;
            padding-bottom: 100px;
            padding-left: 100px;
            padding-right: 100px;
        }
}

.advantages-img-box {
    position: relative;
    margin-bottom: 50px;

    @media screen and (min-width: 1440px) {
            margin-bottom: 150px;
        }
}

.definition {
    position: absolute;
    top: 15%;
    right: 5%;
    width: 196px;
    height: 66px;
    border-radius: 15.2px;
    background-color: #F9F9F9;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 1.35px 5.74px rgba(0, 0, 0, 0.17);

    @media screen and (min-width: 375px) {
            right: 10%;
        }

    @media screen and (min-width: 425px) {
            top: 20%;
            right: 15%;
        }

    @media screen and (min-width: 768px) {
            width: 450px;
            height: 100px;
            top: 35%;
            right: 10%;
            padding: 18px;
        }

    @media screen and (min-width: 1024px) {
            width: 600px;
            height: 150px;
            padding: 35px;
            border-radius: 53.21px;
        }

    @media screen and (min-width: 1440px) {
            top: 40%;
            right: 5%;
            width: 800px;
            height: 170px;
            padding: 30px;
        }

}

.definition-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    color: #000;

    @media screen and (min-width: 768px) {
            font-size: 22px;
            line-height: 20px;
        }

    @media screen and (min-width: 1024px) {
            font-size: 27px;
            line-height: 25px;
        }

    @media screen and (min-width: 1440px) {
            font-size: 32px;
            line-height: 38.73px;
        }
}

.definition-text-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 12px;
    color: #000;

    @media screen and (min-width: 768px) {
            font-size: 22px;
            line-height: 20px;
        }

    @media screen and (min-width: 1024px) {
            font-size: 27px;
            line-height: 25px;
        }

    @media screen and (min-width: 1440px) {
            font-size: 32px;
            line-height: 38.73px;
        }
}

.definition-text-index {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 6px;
    line-height: 4px;
    color: #000;

    @media screen and (min-width: 768px) {
            font-size: 10px;
        }
}

.advantages-section-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 20.59px;
    color: #625F61;
    margin-left: auto;
    margin-right: auto;
    width: 250px;

    @media screen and (min-width: 768px) {
            font-size: 27px;
            width: 400px;
        }

    @media screen and (min-width: 1024px) {
            font-size: 40px;
            line-height: 30px;
            width: 460px;
        }

    @media screen and (min-width: 1440px) {
            font-size: 46px;
            width: 1000px;
        }
}

.advantages-section-img {
    width: 22px;
    height: 13px;
    margin-right: 10px;

    @media screen and (min-width: 1024px) {
            width: 36px;
            height: 23px;
        }
}

.advantages-section-list {
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;

    @media screen and (min-width: 1024px) {
            margin-top: 100px;
            margin-bottom: 100px;
        }

    @media screen and (min-width: 1440px) {
            margin-top: 170px;
            margin-bottom: 170px;
        }
}

.advantages-section-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media screen and (min-width: 1440px) {
            margin-bottom: 40px;
        }
}

.advantages-section-item-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #000000;

    @media screen and (min-width: 768px) {
            font-size: 24px;
            line-height: 25px;
        }

    @media screen and (min-width: 1440px) {
            font-size: 28px;
        }
}

.advantages-section-item-index {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 6px;
    line-height: 12.12px;
    color: #000000;

    @media screen and (min-width: 768px) {
            font-size: 10px;
        }
}

.advantages-section-footnote {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 8px;
    line-height: 12.12px;
    color: #000000;
    margin-bottom: 10px;

    @media screen and (min-width: 1440px) {
            font-size: 12px;
        }
}

.advantages-section-second-footnote {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 8px;
    line-height: 12.12px;
    color: #000000;

    @media screen and (min-width: 1440px) {
            font-size: 12px;
            width: 1000px;
        }
}

.advantages-section-footnote-index {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 6px;
    line-height: 12.12px;
    color: #000000;

    @media screen and (min-width: 1440px) {
            font-size: 10px;
        }
}

.innovations-section {
    position: relative;
    background-image: linear-gradient(to right, rgba(211, 211, 211, 1), rgba(217, 217, 217, 0));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    padding-top: 40px;

    @media screen and (min-width: 1024px) {
            height: 1100px;
            padding-top: 90px;
        }
}

.innovations-section-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #625F61;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 300px;

    @media screen and (min-width: 1024px) {
            font-size: 40px;
            line-height: 45px;
            width: 530px;
            margin-bottom: 70px;
        }

    @media screen and (min-width: 1440px) {
            font-size: 46px;
            line-height: 45px;
            width: 1220px;
            margin-bottom: 90px;
        }
}

.innovations-tumb {
    @media screen and (min-width: 1024px) {
            display: flex;
            align-items: center;
        }
}

.innovations-text-box {
    border-top-right-radius: 63.4px;
    border-bottom-right-radius: 63.4px;
    background-color: #fff;
    box-shadow: 0px 1.35px 5.74px rgba(0, 0, 0, 0.17);
    padding: 10px;

    @media screen and (min-width: 768px) {
            width: 450px;
        }

    @media screen and (min-width: 1024px) {
            width: 550px;
            height: 270px;
            padding: 30px;
        }

    @media screen and (min-width: 1440px) {
            width: 850px;
            height: 335px;
            padding-left: 100px;
        }
}

.innovations-first-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #4A4A4A;
    margin-bottom: 10px;
    width: 270px;

    @media screen and (min-width: 375px) {
            width: 300px;
        }

    @media screen and (min-width: 425px) {
            width: 370px;
        }

    @media screen and (min-width: 1024px) {
            width: 500px;
            font-size: 20px;
            line-height: 22px;
        }

    @media screen and (min-width: 1440px) {
            width: 720px;
            font-size: 30px;
            line-height: 32px;
            margin-bottom: 30px;
        }
}

.innovations-second-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #2D2D2D;
    margin-bottom: 10px;

    @media screen and (min-width: 1024px) {
            font-size: 17px;
            line-height: 19px;
            margin-bottom: 20px;
        }

    @media screen and (min-width: 1440px) {
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 30px;
        }
}

.innovations-second-bold-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #2D2D2D;

    @media screen and (min-width: 1024px) {
            font-size: 17px;
            line-height: 16px;
        }

    @media screen and (min-width: 1440px) {
            font-size: 22px;
            line-height: 22px;
        }
}

.innovations-second-text-index {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 6px;
    line-height: 12px;
    color: #2D2D2D;

    @media screen and (min-width: 1440px) {
            font-size: 10px;
        }
}

.innovations-footnote-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 6px;
    line-height: 12.12px;
    color: #000000;

    @media screen and (min-width: 1024px) {
            font-size: 10px;
        }
}

.innovations-footnote-index {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 6px;
    line-height: 12px;
    color: #000000;

    @media screen and (min-width: 1440px) {
        font-size: 10px;
    }
}

.innovations-img-tablet {
    width: 155px;
    height: 119px;
    margin-left: auto;

    @media screen and (min-width: 375px) {
            width: 186px;
            height: 143px;
        }

    @media screen and (min-width: 425px) {
            width: 217px;
            height: 167px;
        }

    @media screen and (min-width: 768px) {
            margin-right: 100px;
        }

    @media screen and (min-width: 1024px) {
            width: 279px;
            height: 214px;
        }

    @media screen and (min-width: 1440px) {
            width: 465px;
            height: 360px;
        }
}

.innovations-ask {
    position: absolute;
    right: 0;
    bottom: 5%;
    width: 217px;
    height: 70px;
    border-radius: 16.69px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 1.35px 5.74px rgba(0, 0, 0, 0.17);
    z-index: 999;

    @media screen and (min-width: 375px) {
            width: 250px;
            padding: 12px;
        }

    @media screen and (min-width: 768px) {
            right: 100px;
        }

    @media screen and (min-width: 1024px) {
            width: 450px;
            height: 100px;
            border-radius: 45px;
            bottom: 30%;
            padding: 31px;
        }

    @media screen and (min-width: 1440px) {
            width: 600px;
            height: 130px;
            bottom: 25%;
            padding: 35px;
        }
}

.innovations-ask-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #000000;

    @media screen and (min-width: 1024px) {
            font-size: 17px;
            line-height: 16px;
        }

    @media screen and (min-width: 1440px) {
            font-size: 22px;
            line-height: 30px;
        }
}

.innovations-ask-bold-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #000000;

    @media screen and (min-width: 1024px) {
            font-size: 17px;
            line-height: 16px;
        }

    @media screen and (min-width: 1440px) {
            font-size: 22px;
            line-height: 22px;
        }
}

.innovations-girl-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 169px;
    height: 219px;
    z-index: 1;

    @media screen and (min-width: 375px) {
            width: 199px;
            height: 258px;
        }

    @media screen and (min-width: 768px) {
            left: 100px;
        }

    @media screen and (min-width: 1024px) {
            width: 444px;
            height: 598px;
        }

    @media screen and (min-width: 1440px) {
            width: 400px;
            height: 538px;
            left: 250px;
        }
}

.simptoms-section {
    position: relative;
    padding-top: 40px;
    height: 1223px;

    @media screen and (min-width: 768px) {
            height: 1350px;
        }

    @media screen and (min-width: 1024px) {
            padding-top: 90px;
            height: 820px;
        }
}

.simptoms-section-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #625F61;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: 280px;

    @media screen and (min-width: 1024px) {
            font-size: 40px;
            line-height: 43px;
            width: 690px;
            margin-bottom: 90px;
        }

    @media screen and (min-width: 1440px) {
            font-size: 46px;
            line-height: 46px;
            width: 790px;
        }
}

.simptoms-list {
    @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: space-between;
            padding-left: 15px;
            padding-right: 15px;
        }

    @media screen and (min-width: 1440px) {
            padding-left: 40px;
            padding-right: 40px;
        }
}

.simptoms-tumb {
    margin-bottom: 30px;
}

.simptoms-item-img-box {
    width: 151px;
    height: 151px;
    border-radius: 31.59px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    @media screen and (min-width: 1440px) {
            width: 220px;
            height: 220px;
        }
}

.simptoms-item-text-box {
    width: 170px;
    height: 60px;
    border-radius: 15.11px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0px 2.74px 5.49px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 1440px) {
            width: 274px;
            height: 78px;
        }
}

.simptoms-item-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    color: #000000;
    display: flex;
    align-items: center;

    @media screen and (min-width: 1440px) {
            font-size: 22px;
            line-height: 22px;
        }
}

.simptoms-img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.use-section {
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    @media screen and (min-width: 1440px) {
            padding-top: 80px;
            padding-left: 100px;
            padding-right: 100px;
        }
}

.use-section-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #625F61;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    margin-bottom: 40px;

    @media screen and (min-width: 1024px) {
            font-size: 40px;
            line-height: 45px;
            width: 660px;
        }

    @media screen and (min-width: 1440px) {
            margin-bottom: 80px;
            font-size: 46px;
            line-height: 46px;
            width: 800px;
        }
}

.use-section-box {
    @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.use-tumb {
    @media screen and (min-width: 768px) {
            margin-bottom: 40px;
        }
}

.use-list {
    padding-left: 15px;

    @media screen and (min-width: 1440px) {
            margin-top: 40px;
            margin-bottom: 20px;
        }
}

.use-list-title {
    width: 300px;
    height: 42px;
    border-radius: 15.177px;
    box-shadow: 0px 2.3px 9.91px rgba(0, 0, 0, 0.25);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 1440px) {
            width: 450px;
            height: 60px;
        }
}

.use-list-title-text {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #4B4B4B;

    @media screen and (min-width: 1440px) {
            font-size: 24px;
            line-height: 24px;
        }
}

.use-item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.use-item-img {
    width: 26px;
    height: 16px;
    margin-right: 10px;

    @media screen and (min-width: 1440px) {
            width: 36px;
            height: 23px;
        }
}

.use-item-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;

    @media screen and (min-width: 1440px) {
            font-size: 22px;
            line-height: 22px;
        }
}

.use-item-bold-text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #000000;

    @media screen and (min-width: 1440px) {
            font-size: 22px;
            line-height: 22px;
        }
}

.section-buy-box {
    padding-bottom: 60px;
    background-image: url(../images/buy_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1440px) {
            padding-bottom: 80px;
        }
}

.buy-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #625F61;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
        text-align: center;
        font-size: 38px;
        margin-bottom: 50px;
    }

    @media screen and (min-width: 1440px) {
        margin-bottom: 70px;
    }
}

.buy-photo {
    width: 196px;
    height: 193px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 375px) {
        margin-bottom: 25px;
    }

    @media screen and (min-width: 1024px) {
        width: 300px;
        height: 200px;
        margin-bottom: 70px;
    }

    @media screen and (min-width: 1440px) {
        width: 377px;
        height: 276px;
    }
}

.buy-box {
    display: flex;
    justify-content: space-between;
}

.buy-one-twoo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;

    @media screen and (min-width: 768px) {
        margin-left: 150px;
    }

    @media screen and (min-width: 1024px) {
        margin-left: 0;
        margin-right: 15px;
        flex-direction: row;
        align-content: center;
    }
}

.buy-one-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;
    margin-bottom: 25px;
    cursor: pointer;

    @media screen and (min-width: 375px) {
        width: 145px;
    }

    @media screen and (min-width: 425px) {
        width: 155px;
    }

    @media screen and (min-width: 1024px) {
            margin-bottom: 0px;
            margin-left: 70px;
            height: 70px;
        }

    @media screen and (min-width: 1440px) {
        width: 235px;
        height: 108px;
    }
}

.buy-twoo-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;
    cursor: pointer;

    @media screen and (min-width: 375px) {
        width: 145px;
    }

    @media screen and (min-width: 425px) {
        width: 155px;
    }

    @media screen and (min-width: 1024px) {
            margin-left: 70px;
            height: 70px;
        }

    @media screen and (min-width: 1440px) {
        width: 235px;
        height: 108px;
    }
}

.buy-three-four-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;

    @media screen and (min-width: 768px) {
        margin-right: 150px;
    }

    @media screen and (min-width: 1024px) {
        margin-right: 0px;
        flex-direction: row;
    }

    @media screen and (min-width: 1440px) {
        margin-right: 100px;
        margin-left: 100px;
    }
}

.buy-three-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;
    margin-bottom: 25px;
    cursor: pointer;

    @media screen and (min-width: 375px) {
        width: 145px;
    }

    @media screen and (min-width: 425px) {
        width: 155px;
    }

    @media screen and (min-width: 1024px) {
            margin-bottom: 0px;
            margin-right: 70px;
            height: 70px;
        }

    @media screen and (min-width: 1440px) {
        width: 235px;
        height: 108px;
    }
}

.buy-four-btn {
    width: 118px;
    height: 65px;
    background-color: #FFFFFF;
    border: 1px solid #bbbbbb;
    border-radius: 12px;
    cursor: pointer;

    @media screen and (min-width: 375px) {
        width: 145px;
    }

    @media screen and (min-width: 425px) {
        width: 155px;
    }

    @media screen and (min-width: 1024px) {
            margin-right: 70px;
            height: 70px;
        }

    @media screen and (min-width: 1440px) {
        width: 235px;
        height: 108px;
    }
}

.section-contacts {
    background-color: #D34D4E;
    padding-top: 60px;
    padding-left: 16px;
    padding-bottom: 60px;

    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-right: 16px;
    }
}

.contacts-box {
    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.contacts-title {
    font-family: Inter;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 20px;

    @media screen and (min-width: 1024px) {
        font-size: 36px;
    }
}

.contacts-text {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 35px;
}

.contacts-phone-box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 0;
    }
}

.contacts-phone-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.contacts-phone-number {
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-decoration: none;

    @media screen and (min-width: 375px) {
        font-size: 20px;
    }
}

.contacts-mail-box {
    display: flex;
    align-items: center;

    @media screen and (min-width: 1024px) {
        margin-left: 50px;
    }
}

.contacts-mail-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.contacts-mail {
    font-family: Inter;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;

    @media screen and (min-width: 375px) {
        font-size: 20px;
    }
}

.section-warning {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.warning-logo-box {
    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        padding-left: 150px;
        padding-right: 150px;
    }
}

.warning-lifecare-logo {
    width: 189px;
    height: 77px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
        width: 125px;
        height: 50px;
    }
}

.warning-note {
    font-family: Inter;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #8f8f8f;
    margin-bottom: 30px;

    @media screen and (min-width: 1024px) {
        margin-left: 10px;
    }
}

.warning-text {
    font-family: Inter;
    font-weight: 100;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #8f8f8f;
    text-align: center;

    @media screen and (min-width: 375px) {
        font-size: 38px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 90px;
    }

    @media screen and (min-width: 1440px) {
        font-size: 108px;
    }
}

.footer-box {
    background-color: #D34D4E;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #ffffff;
}